@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

body {
	background-color: #f1e4cd;
	background-image: url(../assets//images/Contour\ Line.svg);
}

@font-face {
	font-family: "Oswald-Regular";
	src: url(../assets/font/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
	font-family: "Oswald-Bold";
	src: url(../assets/font/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
	font-family: "Oswald-SemiBold";
	src: url(../assets/font/Oswald/static/Oswald-SemiBold.ttf);
}
@font-face {
	font-family: "Teresa-Bold";
	src: url(../assets/font/Teresa/Teresa-Bold.ttf);
}
@font-face {
	font-family: "Teresa-SemiBold";
	src: url(../assets/font/Teresa/Teresa-Semibold.ttf);
}
.oswald-reg {
	font-family: "Oswald-Regular";
}
.oswald-bold {
	font-family: "Oswald-Bold";
}
.oswald-semibold {
	font-family: "Oswald-SemiBold";
}
.teresa-semibold {
	font-family: "Teresa-Semibold";
}
.teresa-bold {
	font-family: "Teresa-Bold";
}

.Typewriter {
	font-family: "teresa-semibold";
	font-size: 3.5rem;
	color: #c5352c;
}

.box-1 {
	background-color: #ff6766;
	width: 15rem;
}

.button {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 15rem;
	cursor: pointer;
}
.btn-one {
	color: #fff;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c5352c;
	border-bottom-color: #c5352c;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.btn-one::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}
input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text {
	@apply text-lightpinkish text-opacity-0  lg:text-3xl sm:text-2xl tracking-wider transform lg:-translate-x-[5.5rem]  lg:translate-y-1  sm:-translate-y-10 scale-75;
}
textarea:focus ~ .input-text,
textarea:not(:placeholder-shown) ~ .input-text {
	@apply text-lightpinkish text-opacity-0 lg:text-3xl sm:text-2xl oswald-reg font-bold tracking-wider transform lg:-translate-x-[5.5rem] lg:-translate-y-0 sm:-translate-y-10 scale-75;
}
textarea::-webkit-scrollbar {
	width: 0.8em;
}

textarea::-webkit-scrollbar-thumb {
	background-color: #ff6766;
	border: 3px solid #f1e4cd;
	border-radius: 20px;
	padding: 2rem;
}
::-webkit-scrollbar {
	width: 1em;
}
::-webkit-scrollbar-thumb {
	background-color: #ff6766;
	border: 3px solid #f1e4cd;
	border-radius: 20px;
		padding: 2rem;
}
@tailwind utilities;
