.box2 {
	background: transparent;
	border: 3px solid #c5352c;
	border-radius: 30px;
}

.button {
	text-align: center;
	width: 5rem;
	cursor: pointer;
}

.btnTwo {
	transition: all 0.3s;
	position: relative;
}
.btnTwo span {
	transition: all 0.3s;
}
.btnTwo::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.btnTwo:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.btnTwo::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(196, 53, 43, 0.2);
	border-radius: 30px;
}
.btnTwo:hover::after {
	transform: scale(0.7, 0.7);
	border-radius: 50px;
}


