.button {
	box-shadow: inset 0 0 0 0 #F9BDA1;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out, border .3s ease-in-out;
  }
  .button:hover {
	cursor: pointer;
	box-shadow: inset 100px 0 0 10px #F9BDA1;
 }
  